[2017-07-20 11:09] tribalboy3000 opened #1 "Issue installing"
Hello, I tried to install 2 times and get this error:

Fatal error: Allowed memory size of 805306368 bytes exhausted (tried to allocate 262144 bytes) in /home/mysite/public_html/dev/wp-includes/class-wp-hook.php on line 298

I had to remove it from C-Panel to get my site working again.

[2017-07-20 11:41] jonathan-dejong commented on #1
Hi @tribalboy3000

Hmmm that's interesting.. Do you already have a bunch of Rest API calls happening?
I can't really see why the plugin would create an overload to wp-hook. There's nothing strange going on and there are only a few hooks that are being used.

I can't replicate it myself.
What other plugins do you have active?

[2017-07-20 13:21] tribalboy3000 commented on #1
![image](https://user-images.githubusercontent.com/2553727/28419377-0305f58a-6d1c-11e7-9916-1cd02e6b515b.png)

[2017-07-20 13:45] jonathan-dejong commented on #1
Should be this link:
https://github.com/jonathan-dejong/simple-jwt-authentication/archive/master.zip
and rename it so it's without -master at the end of the folder.

[2017-07-20 13:49] tribalboy3000 commented on #1
Ok I will try that, the one I downloaded was from here:
https://github.com/jonathan-dejong/simple-jwt-authentication

[2017-07-20 13:50] jonathan-dejong commented on #1
It's the same, but it looked like you grabbed the develop branch.
Could you also try adding these to your wp-config.php before activating?

[code]

[2017-07-20 14:18] tribalboy3000 commented on #1
Ok so now I am able to get it installed but get this:

![image](https://user-images.githubusercontent.com/2553727/28421610-e50e4062-6d22-11e7-9642-e2a4fec31d6f.png)

In wp-config I've add:
define( 'SIMPLE_JWT_AUTHENTICATION_SECRET_KEY', YOURKEY );
define( 'SIMPLE_JWT_AUTHENTICATION_CORS_ENABLE', true );

htaccess I added:
#JWT
RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(

[2017-07-20 14:23] jonathan-dejong commented on #1
Hi,

No that should not be an issue.
Are you sure that you need the htaccess stuff?

Also, you're not using that request url? Is it really the one to your development project or just for obfuscating it here?

[2017-07-20 14:24] tribalboy3000 commented on #1
I'm just obfuscating it. I had it (htaccess stuff) already added from the old JWT, so I just left it.

[2017-07-20 14:28] jonathan-dejong commented on #1
Hmm.. That error only occur if the secret key isn't available.
Could you error_log what happens inside `includes/class-simple-jwt-authentication-api.php` in the function `get_key()` on row 51.
Replace it with this and make sure you have turned on wp_debug in wp-config.php
[code]

[2017-07-20 14:45] tribalboy3000 commented on #1
Oh my god, I was in the wrong wp-config. It's working! Sorry for wasting your time and thank you for taking over this project!

Just checked the user profile and LOVE what you did!

[2017-07-20 14:52] jonathan-dejong commented on #1
Hahaha shit happens.

Have a break and a cup of coffee!

[2017-07-20 14:52] #1 closed

[2017-07-21 03:36] tkserver commented on #1
Been there before haha.

[2017-07-31 12:40] tribalboy3000 opened #2 "Revoke Tokens Not Working Subdirectory"
Hello, not sure if I'm doing something wrong but when I click Revoke or Remove all expire tokens I get a page not found error:

Remove all expired tokens url:
https://mysite.com/**dev**/**dev**/wp-admin/profile.php?wp_http_referer=%2Fdev%2Fwp-admin%2Fusers.php&remove_expired_tokens=1

Revoke:
https://mysite.com/**dev**/**dev**/wp-admin/profile.php?wp_http_referer=%2Fdev%2Fwp-admin%2Fusers.php&revo

[2017-07-31 12:41] tribalboy3000 opened #3 "Tokens updated on pwd update"
Can you set it up so when a password is updated it automatically deletes all that users tokens?

[2017-07-31 13:01] tribalboy3000 opened #4 "Bypass token"
I tried the resetpassword endpoint and still get:

**{"code":"jwt_auth_invalid_token","message":"Wrong number of segments","data":{"status":403}}**

I think this is only if I'm logged in correct? I have a 'forgot pwd'  endpoint where it sends an email to the email added by the user(temporary rest link), same as wordpress. Since they forgot their pwd they are not currently logged in, is there a way

[2017-07-31 13:12] jonathan-dejong commented on #4
Hi,

If you use the resetpassword endpoint you should only send a username or email with the POST.
This endpoint does *not* check for valid token. All it does is send out the reset password email.
https://github.com/jonathan-dejong/simple-jwt-authentication/blob/master/includes/class-simple-jwt-authentication-rest.php#L408

So it's not possible you're getting that return message from that endpoint

[2017-07-31 13:52] tribalboy3000 commented on #4
Ok I think I figured it out: I was passing Authorization: Bearer null <- this was causing the issue. However the email link is not correct, I had the same issue (used the same code) but fixed it with this:

replaced this:
`    $key = $wpdb->get_var( $wpdb->prepare( "SELECT user_activation_key FROM $wpdb->users WHERE user_login = %s", $user_login ) );
		if ( empty( $key ) ) {
			// Generate somethi

[2017-07-31 13:57] tribalboy3000 commented on #4
formatting issues

[2017-07-31 14:00] jonathan-dejong commented on #4
I'll look into it in the next few days unless you want to do a working PR.

Glad you worked out the issue :)

[2017-08-04 03:20] tkserver opened #5 "Working Together"
Hi Jonathan.  I'm using the original plugin for authentication to a bbPress forum, and it is working great.  I'm going to move to your version as I have had to make my own api for the simplest things like getting the logged in user's ID!

I would like to help support this plugin like I have helped support the bbPress api with testing and suggestions.  Do you have a slack?

First question/suggestio

[2017-08-04 15:16] jonathan-dejong commented on #5
Hi @tkserver

Thank you. Of course I welcome all kinds of help.
I do not have a slack specific for this plugin as it's "just" another open source plugin I try to improve for free :) However the issues here on github is probably a good enough starting point for all kinds of conversation about the plugin.
I'll also gladly welcome any PRs after testing them out.

There is currently no way to register

[2017-08-04 15:16] #5 closed

[2017-08-05 00:19] tkserver commented on #5
Hmm. Ok. How about password reset and such?  I didn't see that in the WP api.

[2017-08-06 02:11] tkserver commented on #5
I've looked into the WP API create a user link you mentioned. Creating a user can only be done via API if logged in, so it's an admin function, not a registration function.  After an hour or so of looking all over the web it would seem that WP does not have a registration option in their API, which is intentional.

[2017-08-07 14:09] tribalboy3000 commented on #2
Is there a work around for this until its figured out? I tried the url without the extra dev but that didn't work and I have a ton of tokens taking up my screen

[2017-08-25 14:23] Gaffen opened #6 "Name and Description for composer.json to allow for installation via composer"
I was just attempting to install your plugin using composer but was presented with an `Undefined index: name` error, which I believe will prevent installation directly from git unless [both name and description are defined](https://packagist.org/)

[2017-09-04 07:42] jonathan-dejong commented on #6
Hi @Gaffen

I've not thought about that at all after taking over the project :)
I've added a name and description now so try it out.. I've not published it to packagist tho.

[2017-09-04 14:36] Gaffen commented on #6
Not to worry; if you need some help I could even try sending a couple of pull requests for you if they're welcome?

There were a couple of other features I was thinking of requesting (that I've implemented in my own deployment) too, but I'll need to collect them together as I'm doing some rapid prototyping right now.

[2017-09-04 14:44] jonathan-dejong commented on #6
If they're well written and tested all PRs are very welcome!
and of course if they would be useful to people in general using this plugin.

[2017-09-05 15:06] jonathan-dejong commented on #2
Hi @tribalboy3000

Are you just using ** for emphasis or actually have that in your dev urls? :D
The button uses site_url().
What url do you get if you use site_url() yourself somewhere? Is this in a network?

[2017-09-05 15:09] jonathan-dejong commented on #5
Yes there's an endpoint for requesting a new password :) It's in the documentation here on github!

Ah I see, why is that? Security issues?

[2017-10-03 08:01] jonathan-dejong commented on #2
Hello,

Just wanted to say that this is fixed with v 1.1
https://github.com/jonathan-dejong/simple-jwt-authentication/releases/tag/v.1.1

[2017-10-03 08:01] #2 closed

[2017-10-03 08:02] #6 closed

[2017-10-03 13:26] jonathan-dejong commented on #4
Hi,

I've attempted to solve this but your provided code does not work. I suspect you've done more changes :)

Could you make a PR or provide the file in its entirety ?

[2017-12-15 20:01] JaaakeSullivan opened #7 "JWT_auth_bad_auth_header"
I'm getting a 403 error when sending a query using correct username and password. Any ideas what might be causing this?

[2017-12-15 20:57] #7 closed

[2017-12-15 21:06] jakeshomework opened #8 "issue accessing wordpress after authorization"
do you have any tips on how to actually access the wordpress site via the login screen?

[2017-12-15 23:13] jonathan-dejong commented on #8
Hi Jake,

I'm not sure what you mean?
This is not made to replace access to WordPress admin login but rather to give auth access to WordPress REST API .

[2017-12-19 19:45] MichaelCStevens opened #9 "Users still can access custom endpoints without a token"
I have followed the directions, setup the flow correctly, yet I notice my custom end points do not return an error even if no token/auth header is supplied. Ive done some limited debugging, the plugin looks like it is setting the data correctly however it is being ignored

[2017-12-20 08:42] jonathan-dejong commented on #9
Hi Michael,

If you dont require a user to be logged in to access your custom endpoints WordPress wont require auth = ignored.

[2018-01-05 03:12] sotoole opened #10 "Set token to never expire"
Is it possible to set the token to never expire? I imagine it's done through 'jwt_auth_expire'. I've tried 0 and null as the expiration times but neither work.

[2018-01-05 17:16] jonathan-dejong commented on #10
Hi @sotoole

you can just set it ridiculously high :)

[2018-01-05 23:14] sotoole commented on #10
OK but when my token expires in the year 6000 and all my users are logged out, I'm blaming you!

[2018-01-06 18:28] tkserver opened #11 "Just a comment, now testing"
Hi Jonathan.

I have new project I'm working on for a WP/bbPress ios/android app.  This isn't an "issue" but just a comment that I'm successfully using your plugin in my local environment already.  I plan to participate and post any real issues or suggestions as they come up!

Thanks for taking this project on.

[2018-01-07 04:43] tkserver opened #12 "get_current_user_id = 0"
I'm logged in via JWT and if I log get_current_user_id(); in my WP api I get 0.  Shouldn't that give me the logged in user's ID?

[2018-01-07 05:16] tkserver commented on #12
Dug a little deeper. Tried to just validate the token and it was 403.  Had to make sure ALL 4 of the below lines were in .htaccess, though I'm not using wp engine (just working on localhost at the moment):

[code]

[2018-01-07 05:16] #12 closed

[2018-01-07 15:36] jonathan-dejong commented on #10
I recommend setting a notice in your calendar to extend the date #offthehook

[2018-01-07 15:36] #10 closed

[2018-01-10 20:57] bjorn2404 opened #14 "REST plugin still required?"
Hello, I'm confused as to whether the REST API plugin is still required since it's been merged into core. I've tried testing the endpoints in various ways with the REST API plugin and without it but I'm receiving "No route was found matching the URL and request method"

- /wp-json/simple-jwt-authentication/v1/token
- /wp-json/wp/v2/simple-jwt-authentication/v1/token

[2018-01-10 21:15] bjorn2404 commented on #14
Nevermind, I see I can hit the following endpoint without the REST API plugin, so I'm assuming I can use this without it:

- /wp-json/simple-jwt-authentication/v1

[2018-01-10 21:15] #14 closed

[2018-01-12 22:09] flymikeG opened #15 "Documentation request"
Please, _please_ expand that part of the documentation beginning "Eable PHP HTTP Authorization Header".
Specifically:

1. Shared Hosts: "Most of the shared hosts have disabled the HTTP Authorization Header": I run my own host. I wonder if I have (inadvertently) disabled it. Where do I look? Do you mean the http server (Apache)? If so, what configuration value should I look for? And how does that R

[2018-01-16 16:10] jonathan-dejong commented on #15
Hi @flymikeG

I've only copied this section from the plugin this plugin is based on:
https://github.com/Tmeister/wp-api-jwt-auth

I myself do not have any sites running on WPEngine so really.. I have no "inside" information to give.
I've had to set
`
RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
`
On some of my shared host projects.. Thus do

[2018-01-16 16:10] #15 closed

[2018-01-16 16:21] jonathan-dejong commented on #11
Hi @tkserver

Glad to hear and I welcome all feedback :)

[2018-01-16 16:21] #11 closed

[2018-01-16 19:28] tkserver opened #16 "Set token length in WP back end"
I'm going to change the token length for a client and it would be nice for us to be able to just set the length in the WP back end instead of hard coding it.

[2018-01-16 19:47] jonathan-dejong commented on #16
To what end would you need to change the token length?

[2018-01-17 15:29] tkserver commented on #16
I want my token length 6 months, but my client on another project wants it to be 2 months. I think it is 1-2 weeks right now?

[2018-01-20 02:30] sotoole commented on #16
@tkserver Try adding this is to your functions.php file:

[code]

[2018-01-20 02:38] sotoole commented on #16
@tkserver Nevermind, just realized you were asking about adding a setting in the admin.

[2018-01-20 10:40] webartistse commented on #9
I don't get this to work at all. Followed the guidelines several times but I got full access to API without auth. Standard endpoints and custom endpoints.

[2018-01-20 18:15] tkserver commented on #9
What I do is get the current wp user and compare to the user submitting requests to the api. If they are not the same, then I don't allow access.

[2018-02-11 00:15] tkserver opened #18 "403: "The iss do not match with this server""
Started getting this error today in my local environment. My live test environment seems to be ok.  What is this error and how can I fix it?

[2018-02-11 23:26] tkserver commented on #18
Solved. The token stored in local storage was still there from when I was hitting the test environment. If switching back and forth between local and test I recommend logging out.

[2018-02-11 23:26] #18 closed

[2018-02-19 09:30] garymould commented on #9
You can use plugins to hide endpoints, or only allow entry if authorised.

[2018-02-19 09:47] garymould opened #19 "Refresh token"
Great work. I had a few issues with the Tmeister plugin which have been solved here (e.g. token expiry).

Is there a way to refresh a token, e.g. if a token is valid for 30 days and the user uses the app on the 29th day it should extend/reset to 30 days?

[2018-02-19 12:34] jonathan-dejong commented on #9
Seems there's a confusion here.
This plugin does not restrict or hide WordPress content. It's merely a way to allow external access to WordPress endpoints which are only accessible to logged in users.
By default that would be things like creating/editing/deleting posts, data, users etc.

Installing this plugin *will not* hide post listing endpoints for example. For that you need to either write yo

[2018-02-19 12:34] #9 closed

[2018-02-19 12:38] jonathan-dejong commented on #19
Hi @garymould

Currently there's no way to do that I'm afraid.
But I'm happy to accept pull requests with new features :)

[2018-02-19 14:09] garymould commented on #19
Thanks for the reply @jonathan-dejong.

I'll see what I can do. I cannot seem to get the resetpassword endpoint working - I was wondering if this could be a good starting point?

[2018-03-01 13:27] olivermpo opened #20 "rest_user_invalid_id"
Hi

I'm trying to authenticate using the simple-jwt-authentication, and I am able to get a token response, but the moment I try to do anything on the API endpoints I get back for example trying to do create a post:
{
    "code": "rest_cannot_create",
    "message": "Sorry, you are not allowed to create posts as this user.",
    "data": {
        "status": 401
    }
}

If I try to  identify what us

[2018-03-15 14:00] harlet opened #21 "Strange error on authentication."
Hi there!

If I access the Url (GET) `/wp-json/simple-jwt-authentication/v1/token` on a WPEngine live site; I get:
[code]

I say is strange because searching thru the plugin's code I found that, the error is returned in a `validate_token` function.

Even if a do a POST request, I have the same error.

[2018-04-16 08:22] jonathan-dejong commented on #21
Hi @harlet

Have you checked out the wiki about WPengine?
`SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1`

https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#wpengine

[2018-04-16 09:27] jonathan-dejong commented on #20
Hi,

Have you tried adding the htaccess rules?
https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#shared-hosts

[2018-04-16 11:20] jonathan-dejong commented on #19
I don't think it'll help you much. It's just a custom endpoint which basically copies the function WordPress core has to reset a password.

Hope you've made some progress on your own :) I've just gotten back from parental leave.

[2018-04-17 08:24] jonathan-dejong commented on #16
I don't think it's a setting that should be added to an admin setting as 99% of people probably wont want to change it. But you can always use the filter @sotoole published above :)

[2018-04-17 08:24] #16 closed

[2018-04-17 10:14] harlet commented on #21
Already had that setup.
The problem was the cross-origin.

Thank you!

[2018-04-17 10:14] #21 closed

[2018-04-17 14:01] tkserver opened #22 "Bulk or Revoke ALL Tokens"
Thinking it may be useful to be able to revoke all, or perhaps do bulk selection and revoke. Right now if I wanted to revoke the tokens of 20 users, I'd have to load each user individually then scroll to the bottom.  Quite tedious.

[2018-04-23 08:56] jonathan-dejong commented on #22
Yep that seems like a useful thing after a while :)
I'll see if I can add it in an update when I can find some time. I'm currently working 50% and on parental leave 50%

[2018-04-24 13:13] mathiasastrom opened #23 "Make use of get_password_reset_key() in reset_password() method"
Great plugin, saved me a great deal of pain.

Experienced buggy behaviour when I tried to reset the password through the your WP REST api callback, the reset key was never updating and it was stuck in the same corrupt key. Much needed logic that was in your reset_password() method already exists in the core function: [get_password_reset_key()](https://developer.wordpress.org/reference/functions/ge

[2018-04-27 07:42] jonathan-dejong commented on #23
Hi Mathias,

Thanks for pointing this out! When I added the reset endpoint I just looked at what was in core at the time and how others had solved it and found that it worked but was a little bit buggy. I did not know about this new function!

I don't think compatibility is an issue since this plugin is aimed towards new development with WordPress (REST) :)

Would you mind turning your fix into a

[2018-05-12 19:42] tkserver opened #24 "Remove HTML from error messages"
I'm working on a native app.  When I receive a 403 login error, the response looks like this:

`<strong>ERROR</strong>: The password field is empty.`

The strong HTML tag (and other HTML) does not work natively.  I suggest removing the word "error" since we already know it is an error, and removing any HTML tags so the error response is plain text.

[2018-05-14 06:17] jonathan-dejong commented on #24
Hey,

The response output is actually the native response from WordPress (which is what's returned by WordPress REST). Honestly I don't really feel like making custom messages for each situation and mapping them to WPs :/
Maybe look into if you can filter WordPress core messages directly in your installation instead?

[2018-05-14 15:00] tkserver commented on #24
Thanks Jonathan. I know some of the WP dev team. Perhaps I can mention this.

[2018-05-15 07:54] jonathan-dejong commented on #24
Yeah it might be optimal if the REST actually dont return any formatted HTML :)

[2018-06-01 21:09] ens-ap5 opened #25 "403 Forbidden"
Hi Jonathan, I'm trying to use your plugin to access a published post with status 'private', so that I can test fetching the content without making said post public. I have been able to fetch a public post using the WP REST API, so I know that part of my code is OK.

I've followed all the configuration settings, and can retrieve and validate my token. However it's not clear to me how to access sta

[2018-06-03 07:09] jonathan-dejong commented on #25
Hi Anne Lyle,

Read the Usage section of the documentation :)
https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#usage

Basically you need to store the token received through the token endpoint and send that with each request to the WP REST API as an authorization header.
`'authorization': 'Bearer ' + token`

Best of luck with your project!

[2018-06-03 07:09] #25 closed

[2018-06-04 12:27] ens-ap5 commented on #25
I read the documentation, thanks, and have checked that the 'Authorization' header is getting passed into the HTTP request, but it's being ignored by WordPress. I'll check with my web host to see if they're blocking authorisation somehow despite me enabling it in .htaccess.

[2018-06-05 09:07] jonathan-dejong commented on #25
Ah yeah then the issue is likely the host.
Have you tried both here: https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#eable-php-http-authorization-header

[2018-06-05 09:09] ens-ap5 commented on #25
Yes. I've raised a ticket with our hosting company, but I'm currently working on other more urgent things :)

[2018-06-12 08:14] ArraysNL opened #26 "Use a encrypted password with the wp_get_current_user function"
Hi,

Thanks for the plugin. And I hope you can help me with our problem.

We using the plugin now on a development version. And like to use it on a production version. Therefore we like to create a JWT token per user.

We using PHP and Javascript, below is the code.

[code]

[code]

Now we like to user the wp_get_current_user function, is this possible? Because using the following code won’t work.

[2018-06-12 20:38] jonathan-dejong commented on #26
Hi @ArraysNL

So what you're trying to achieve is to have the user automatically authorized?
I'm not sure if that is possible. You're using the user_pass value from current_user but I'm pretty sure that is the hashed value of their password. Not the actual password.

You're also using wp_localize_script incorrectly. Read up on it here: https://developer.wordpress.org/reference/functions/wp_localiz

[2018-06-13 07:15] ArraysNL commented on #26
Thanks for the reply.

The users are logged in with a SSO provider. So they are already logged in on the website. But on the website we want to create a JWT token, so we can send it to a external API where the token can be verified.

So the problem is that we indeed need a token for a already logged in user. Don't know if there is a solution for this indeed.

Thanks for the wp_localize_script info

[2018-06-18 12:44] guicara opened #27 "Add your plugin to WordPress repository and wpackagist"
Hello,

It would be great if you could add your plugin to [wpackagist](https://wpackagist.org/) and to the WordPress plugins repository.

A lot of developers use Composer (and wpackagist) to install WordPress plugins.

Thanks,

[2018-06-18 17:08] Gaffen commented on #27
Relevant to #6

[2018-06-18 21:01] jonathan-dejong commented on #26
Does the SSO not support the REST API too? I figure you might be able to just use the stored auth token from the SSO instead? Honestly I have little experience with SSOs in that way.

Otherwise the only option I can think of is to have the user submit a form with their username/password in order to retrieve a token from JWT and store it for later use. You can set the token to live a very very long

[2018-06-18 21:01] #26 closed

[2018-06-18 21:02] #24 closed

[2018-06-18 21:03] #20 closed

[2018-06-18 21:04] #8 closed

[2018-07-04 07:15] jonathan-dejong commented on #27
Hi!

I'll submit the plugin to wordpress.org I promise :)
Just haven't found the time..

[2018-07-10 08:06] chrisgate opened #28 "simple-jwt-authentication rewrite my Custom post-type and field name (PODS)"
hi @jonathan-dejong I used PODS to create cool custom types and all that but as soon as upload and activate our awesome authentication plugin all Pods custom name changed
e.g:
 pods name : chris_gate      then change to pod name: chris-gate
meaning all names with underscore( _ ) change to hyphen ( - ).

Below are the url to snapshot for the change image, hosted on https://imgbb.com/
https://ibb.co

[2018-07-10 11:03] jonathan-dejong commented on #28
Hey Chris,

Hmmm odd.
I cant think of anything in this plugin that would even remotely interfere with PODS in that way..

It's possible it's a bug in pods tho. I found an older issue regarding the same thing:
https://github.com/pods-framework/pods/issues/3499

I'm gonna assume you've updated your pods plugin since then :D

[2018-07-10 11:40] chrisgate commented on #28
I used https://github.com/Tmeister/wp-api-jwt-auth now with fresh installation and nothing changed

But i am confused now that you pointed me to that issue and i am using the latest version of pods

Now install Tmeister and i dont the error got me thinking.

Truth is i need urs bcoz it meet my needs.

I have recreate and delete many time with every plugin i have before i notice this..

Thanks for

[2018-07-10 12:36] chrisgate commented on #28
if u could install pods and simple-jwt-authentication

then create table based pod type and see what will happen...

Thanks

[2018-07-10 13:14] chrisgate commented on #28
@jonathan-dejong I am ver very sorry.............its my plugin that breaks it.
I guess i over trust my plugin...............i guess i am having trust issue ...lol

here is the code that breaks it:
[code]

I still dont know what i did wrong here

[2018-07-10 13:16] jonathan-dejong commented on #28
Hi!

Its the `sanitize_title()` function :)

It converts _ to -
https://codex.wordpress.org/Function_Reference/sanitize_title

[2018-07-10 13:19] jonathan-dejong commented on #28
I think you could use pods own clean function:

https://github.com/pods-framework/pods/blob/1397549aa7833864c1c43ddfc16725feeda302e7/classes/PodsForm.php#L1112

`PodsForm::clean( $data['post_title'] )`

[2018-07-10 13:19] #28 closed

[2018-07-10 14:08] chrisgate commented on #28
@jonathan-dejong thanks........... i think anything clean or sanitize_title give the same issues..
but i have rewrite my code and everything should be fine now.

Thanks again

[2018-07-10 14:30] jonathan-dejong commented on #28
The clean function is what pods use themselves and its supposed to allow for underscores so you should be able to use that just fine :)

At least unless they've changed it again.

But anyway, best of luck with your project!

[2018-07-11 16:20] chrisgate commented on #28
@jonathan-dejong thank for the luck u wish me.

Please how do return "role" as part return values when i go to this end point
   /simple-jwt-authentication/v1/token

and which class should add more code.

Thanks in anticipations.

Cheers

[2018-07-12 07:38] jonathan-dejong commented on #28
Short answer: you dont.
Instead request the wordpress endpount for retrieving user data. refer to the rest api docs for how 😉

[2018-07-15 12:16] chrisgate commented on #28
@jonathan-dejong Thanks

[2018-07-18 17:03] tjb1187 opened #29 "Process for creating new user?"
Hi your plugin looks great. My only question for now is how do you create new users? Can visitors make a new user account from the front end? Thanks

[2018-07-18 20:29] jonathan-dejong commented on #29
Hi,

Thanks!
This plugin only handles authentication. It does not actually create/update/delete anything :)
You're gonna wanna have a look at the official rest handbook:
https://developer.wordpress.org/rest-api/reference/users/

[2018-07-18 20:29] #29 closed

[2018-07-18 20:52] chrisgate commented on #29
@jonathan-dejong  you love to refer us to Wordpress Docs.

@tjb1187 u can try this plugin out.................  https://github.com/SK8-PTY-LTD/wp-rest-user

[2018-07-18 20:54] jonathan-dejong commented on #29
It has a lot of stuff! :)
And these questions are not related to the plugin I provide as open source.
I just try to help out as much as time lets me with work and family on top of open source contributions ;)

[2018-07-18 21:15] chrisgate commented on #29
U know in wordpresss u have to login as admin to register..............that mean admin will always be needed but that plugin above resolved it.
It wil be nice if u could implement that or have small plugin it for it....just bcoz we love ur work.

[2018-07-18 21:42] chrisgate commented on #29
in wordpress @jonathan-dejong u are one of my mentor ....i love the clear work u have done..........i am c# developer .

[2018-07-19 11:39] jonathan-dejong commented on #29
Thank you Chris that's very kind of you :)

The plugin you linked seem to do what OP wants tho so there's not really a need for me to create another one. Thanks for sharing!

[2018-07-22 15:42] elieobeid7 opened #30 "What parameters to send to reset password and revoke token?"
Do I send the headers only to revoke and the email to reset? the documentation is missing those details

[2018-07-24 06:29] jonathan-dejong commented on #30
Hi!
Yeah you should only need to send the headers with the token to revoke :)
Sorry for lacking in documentation. It's not easy to find the time for everything I want to do and improve :D

[2018-07-25 17:58] #30 closed

[2018-07-31 09:18] kasparsd opened #31 "Don't expose SIMPLE_JWT_AUTHENTICATION_SECRET_KEY"
Per [docs](https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#configure-the-secret-key):

Per [Use JWT The Right Way](https://stormpath.com/blog/jwt-the-right-way):

However, currently the secret is revealed in the plugin settings to all users with the `manage_options` capability. Could we make this field write only so that users who don't want to set the `SIMPLE_JWT_A

[2018-09-05 19:54] efbi opened #33 "rest_cannot_create 401"
Hi,

I'm triying to use your plugin to auth with wp rest api, but when I hit /wp/v2/posts for example with the token in bearer auth via postman, I always have 401 error rest_cannot_create

What I do wrong ?

Thanks

[2018-09-11 15:14] namsir opened #34 "403 error after authenticated."
Anyone has any idea why i can't GET or POST to my custom endpoint after i've successfully authenticated.
I added authorization head with the same token i've got back.

I've tried moving the 'SIMPLE_JWT_AUTHENTICATION_SECRET_KEY' in wp-config to the top/bottom and still not working.

by the way i'm using this plugin on a multisite.

NVM i found a solution myself. It was conflicting with the existin

[2018-10-03 15:46] florent-huran commented on #19
There is a fork here of the original plug-in which seems to have included regeneration function: https://github.com/ssuess/wp-api-jwt-auth

[2018-10-14 17:08] isuke01 opened #35 "Warning: Cannot modify header information After "Remove all expired tokkens""
Hey,
When you're logged in to admin on page, and try "Remove all expired tokkens" from other user (what I test) I get PHP Error.
Same error when I try Revoke any of tokens :)
But Revoke issue is in `..\class-simple-jwt-authentication-profile.php:98`

**ERROR**
`Warning: Cannot modify header information - headers already sent by (output started at C:\(...)\system\wp-includes\class.wp-styles.php:225

[2018-10-14 18:19] isuke01 commented on #35
I made fix for this issue: https://github.com/jonathan-dejong/simple-jwt-authentication/pull/36

[2018-10-14 18:46] isuke01 commented on #33
Check your .htaccess if it is correctly set, or other plugin issue, also wp-config consts `SIMPLE_JWT_AUTHENTICATION_SECRET_KEY` I had same issue, WP replace my .htaccess edits, just dont put it inside `# BEGIN WordPress # END WordPress`

[2018-10-14 19:32] isuke01 opened #37 "Plain Errors"
Hello,
Could errors being handled as plain text instead of HTML notatnion?
It would help during APP development, not every app is HTML based, It can be used as Native app 👍
`class-simple-jwt-authentication-rest.php`

[2018-10-14 20:12] isuke01 opened #38 "Dont use WP_DIE in rest return"
File `class-simple-jwt-authentication-rest.php`
**Line 501**  Please dont use wp_die(...) function, it could break whole output in application.
Just maybe return it as another error like `jwt_auth_reset_password_not_allowed` with same message as wp_die() called?

[2019-01-19 18:32] OmbraDiFenice commented on #22
I think that the reset password endpoint should also remove all the token generated for the user: if I'm resetting the password I would expect not to be able to login with a previously generated token (e.g. if I noticed some fraud things related to my account)

[2019-01-19 19:15] OmbraDiFenice commented on #3
I solved the problem adding the following to my `functions.php`:

[code]

[2019-01-26 13:07] jonathan-dejong commented on #3
Hi!

That's a good idea!
I'll be sure to add it in when I find the time!
I'll also accept a PR :)

[2019-02-03 20:47] boxybird opened #40 "'Updating failed' or 'Publishing failed' error with 500 status when using Gutenberg"
When the simple-jwt-authentication plugin is active and you try to save as draft or publish a post using Gutenberg, the network returns a 500 error and the editor displays either 'Updating failed' or 'Publishing failed'. If disabled, all is fine. Any thoughts?

[2019-02-05 20:35] jonathan-dejong commented on #40
Hi @boxybird

Hmm honestly I've not tried it with Gutenberg yet..
Could you enable WP_DEBUG and dig a little deeper on the errors you're getting and post back here?

[2019-02-05 23:49] boxybird commented on #40
With WP_DEBUG enabled the error appears to be a memory issue. The only message is "PHP Fatal error:  Allowed memory size of 2097152000 bytes exhausted".

To be sure it wasn't my local setup causing the lack of memory issue I added "define('WP_MEMORY_LIMIT', '2056M');" to wp-config.php. This should be more than memory and yet I still get the same error.

[2019-02-06 07:28] jonathan-dejong commented on #40
Hmm sounds like it could be an infinite loop or a memory leak of some other kind..
would you mind testing some stuff. Activate the plugin and then open up the plugin file `simple-jwt-authentication/includes/class-simple-jwt-authentication-rest.php` and try to comment out one of the filter hooks in the __construct at a time and see wether the saving of a post starts to work or not after each.

I th

[2019-02-06 16:17] boxybird commented on #40
You're right, it's the `determine_current_user` hook.

I found the solution here: https://github.com/Tmeister/wp-api-jwt-auth/commit/3d61a660ade3637c79dd8f5acbdeaa0b0a30e798

[2019-02-10 09:03] jonathan-dejong commented on #40
@boxybird could you try out this branch and see if that does the trick for you :)
https://github.com/jonathan-dejong/simple-jwt-authentication/tree/bugfix/gutenberg-leak

[2019-02-11 18:05] boxybird commented on #40
@jonathan-dejong Works beautifully! Thanks.

[2019-02-16 09:23] jonathan-dejong commented on #40
Great! I'ts been merged with master now :)

[2019-02-16 09:23] #40 closed

[2019-02-22 04:55] LittleHamster opened #42 "Adding a parameter to jwt_auth_token_before_dispatch"
I am trying to add a parameter to `jwt_auth_token_before_dispatch`  but then I get error 500. I just want to add the `website`

[code]

[2019-02-22 05:28] LittleHamster opened #43 "token_expires value"
What is the default value for the `token_expires:`? how can I set it to expire in hours?

[2019-02-24 16:05] ehsan680 commented on #43
Default expire value is 7 days. To change its value you can use "jwt_auth_expire" hook.

[2019-03-02 09:42] jonathan-dejong commented on #42
Hi @LittleHamster
A tip for when you experience errors is to turn on WP_DEBUG and check what the error messages are saying :)
I think you should do it like this instead:
[code]

You most likely experienced the error because the getRoles and setting *all* the data failed.

[2019-03-27 20:00] alexjuniodev opened #44 "Endpoint - New User Confirmation Email"
Is there an endpoint for sending a confirmation email?

[2019-03-28 13:03] jonathan-dejong commented on #44
Hi @alexjuniodev

No there's not. This plugin is really only made to authenticate users right now.
Not as a full-fledged user handling REST plugin :)

However I would imagine that if you create a user with WP REST API it'll send the standard confirmation email:
https://developer.wordpress.org/rest-api/reference/users/#create-a-user

[2019-03-28 13:03] #44 closed

[2019-03-28 13:03] #43 closed

[2019-03-28 13:03] #42 closed

[2019-03-28 13:04] jonathan-dejong commented on #38
Hi @isuke01

Thanks for the feedback!

[2019-03-28 13:04] #38 closed

[2019-03-28 13:04] #37 closed

[2019-03-28 13:04] #35 closed

[2019-03-28 13:06] jonathan-dejong commented on #31
Hi @kasparsd

Good point!
It should be changed to an input type password field :)

I'll look into it as soon as I can find the time. Or if you prefer to make a PR that is more than welcome!

[2019-03-28 13:06] #33 closed

[2019-03-28 13:06] #34 closed

[2019-06-15 17:33] qazsero commented on #19
#45
I don't know how many people use this plugin but it has been handy to me creating my reactjs frontend using wordpress as an api.

I created a PR that has the new endpoint, happy and sad path tested, works for me.

[2019-06-23 08:53] jonathan-dejong commented on #19
Hi @qazsero
Thank you for the PR! It's great to see other contribute to OS as well!

I'll take a look and probably merge it right away :)

[2019-06-23 08:56] jonathan-dejong commented on #19
Yep, looks good :)
This will solve the initial issue so I'm closing this as well..

I might refactor some of the code for DRY later but as it is it should work great.
thanks again.

[2019-06-23 08:56] #19 closed

[2019-06-25 08:35] gordielachance opened #46 "Not on WP repository ?"
Hi !
I'm migrating from https://github.com/Tmeister/wp-api-jwt-auth, since it seems it is abandoned.
Why don't you publish your plugin on Wordpress.org ?
Thanks.

[2019-06-25 09:09] gordielachance opened #47 "get token by user ID ?"
Is it possible to generate a token by user ID rather than by username+password ?
Would be useful to generate tokens from a plugin, for instance; without knowing the username & password.
Thanks !!!

[2019-06-25 09:27] gordielachance opened #48 "add $user param to the 'jwt_auth_expire' filter"
Hi!
I would like to have a different expiry time depending of the user.
Would it be possible to change

    $expire = apply_filters( 'jwt_auth_expire', $issued_at + (DAY_IN_SECONDS * 7), $issued_at );

to

    $expire = apply_filters( 'jwt_auth_expire', $issued_at + (DAY_IN_SECONDS * 7), $issued_at, $user->data->ID );

?

[2019-06-25 09:43] gordielachance opened #49 "revoke token buttons are not working"
revoke token buttons are not working in the backend profile of users.

[2019-06-25 09:53] gordielachance commented on #48
https://github.com/jonathan-dejong/simple-jwt-authentication/pull/50

[2019-06-25 09:55] gordielachance opened #51 "problem with GMT & time functions() ?"
Hi, I *think* that there it time issues with your plugin.
Should it not better use WP function

    current_time( 'timestamp', true );

instead of

    time()

?

[2019-06-25 10:47] gordielachance commented on #49
I found the issue.
https://github.com/jonathan-dejong/simple-jwt-authentication/pull/50

[2019-06-25 11:24] gordielachance commented on #47
https://github.com/jonathan-dejong/simple-jwt-authentication/pull/50

[2019-06-30 18:12] jonathan-dejong commented on #31
Coming in 1.4 soon!

[2019-06-30 18:12] #31 closed

[2019-06-30 18:14] jonathan-dejong commented on #46
I have intended to but it's been hard finding the time :)
But I'll be sure to get it submitted for the approval process during my vacation in a few weeks.

[2019-06-30 18:15] jonathan-dejong commented on #27
Related: https://github.com/jonathan-dejong/simple-jwt-authentication/issues/46

[2019-06-30 18:45] jonathan-dejong commented on #51
Hi,

Wowsa that's a lot of new issues posted at the same time.

I'm going to have a look at your PR as well :)

As for this specific issue the answer is plainly no. It's not a good idea to use current_time. However if your case is that the date displayed in the UI is a bit off from your local time then that's something that can be corrected by changing the outputting function.

Here's a bit of inf

[2019-06-30 18:45] #51 closed

[2019-06-30 20:16] jonathan-dejong commented on #47
Well.. no. Because then there would not be an authentication. It'd basically be an open door for _anyone_ to authenticate against any user as long as they know their user ID.
I'm pretty sure the plugin would never pass an inspection from the WP Plugin repo team 😅

The proper way to handle that would probably be for the plugin to request the user to authenticate themselves through a login form and

[2019-06-30 20:16] #47 closed

[2019-06-30 20:25] jonathan-dejong commented on #48
Adding the entire $user variable as a parameter to this filter 👍

[2019-06-30 20:25] #48 closed

[2019-06-30 21:15] gordielachance commented on #47
Okay, I get it.
But maybe you can help me solve this problem:
Actually, I need to use Postman to generate a token.
But it's not very user friendly, and I want my users to be able to get their token easily.
I need something simple, like showing the user token on its profile page.
How would you handle this ?

[2019-07-01 06:23] jonathan-dejong commented on #49
1.4.0 out: https://github.com/jonathan-dejong/simple-jwt-authentication/releases/tag/1.4.0

[2019-07-01 06:23] #49 closed

[2019-07-01 06:25] #4 closed

[2019-07-03 15:29] LesterGallagher opened #54 "CORS OPTION Preflight fails"
`Access to fetch at '/simple-jwt-authentication/v1/token' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.`

[2019-07-03 18:55] jonathan-dejong commented on #54
https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#configurate-cors-support

[2019-07-03 18:55] #54 closed

[2019-07-03 19:05] sempostma commented on #54
This is with cors support enabled of course.

[2019-07-11 09:07] sempostma commented on #54
The problem is that the CORS support option is not working.

[2019-07-17 10:23] binaryfire opened #55 "Passing google authenticator codes with credentials"
Hi guys!

Would it be possible to add support for passing google authenticator otp codes as part of the credentials (along with username and password)?

For use with the "official" two- factor plugin: https://wordpress.org/plugins/two-factor/

Cheers

[2019-07-20 09:10] jonathan-dejong commented on #55
Hi @menathor

TBH I've got no experience with that plugin nor google authenticator so I'm not sure exactly what you'd need to do for them to work together.

However there are actions and filters sprinkled throughout the code which you may be able to use to get this working.

Have a look in includes/ at `class-simple-jwt-authentication-rest.php` where most of the magic happens. There's the `generat

[2019-07-20 09:22] jonathan-dejong commented on #54
Have you also had a look at these:
https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation#eable-php-http-authorization-header

What host are you using?

[2019-07-20 09:27] jonathan-dejong commented on #47
For security I would probably add a custom "generate your API token" form on their profile page.
In which they add their username and password (same as login form) but you're posting it to the /token endpoint of JWT which will return the token for you. Then you can show them their token (if you're talking about something like a frontend profile page which I'm guessing).

I _guess_ it may be possib

[2019-08-02 20:12] binaryfire commented on #55
@jonathan-dejong Great, thanks! Will take a look and see if I can figure something out. It might be a bit of a hack- I've since discovered that even Google uses application passwords to work around 2FA. But who knows, maybe we can figure out a unique way of combining the two!

[2019-10-14 05:04] cubeur opened #56 "Add user with API"
First... thanks for your plugin  :)
Is there a possibility that in a future version you'll add a new end-point to add User please ?

[2019-10-14 05:41] jonathan-dejong commented on #56
Hi @cubeur
There's no need for that.
WP already have an endpoint for manipulating users:
https://developer.wordpress.org/rest-api/reference/users/

best of luck!

[2019-10-14 05:41] #56 closed

[2019-10-14 05:56] cubeur commented on #56
Thanks for your reply, in fact i think it "could" be useful to have this endpoint like this plugin
https://wordpress.org/plugins/wp-rest-user/
because with WP rest api it is not possible to create users without admin credentials.. and in my app (for exemple) i would like to create users from the app and then admin user with your plugin, without put the admin login/pwd in the app  ;)

thanks for yo

[2019-10-14 05:59] jonathan-dejong commented on #56
I see!
I think this is out of scope for this plugin but I understand the usability of it. Looks like you found another plugin that does this however.
It's also really easy to add your own endpoint to handle user registration (I'm actually doing exactly that in a current project).

[2019-10-14 06:12] cubeur commented on #56
:)   so i'll try to code in PHP.  thanks again.

[2019-10-24 08:05] JanThiel opened #57 "[Discussion] Cleanup of expired tokens"
Hi @jonathan-dejong while updating to the latest version I figured out, that the `jwt_data` object growths really huge in size over time. I found some accounts having arrays of several thousand entries. All JWT tokens are stored indefinitely no matter if they are already expired and no matter when they expired. Also using the new `token/refresh` route leads to new tokens being generated on each ca

[2020-01-11 01:26] n9yty commented on #27
Please. :)

[2020-01-14 14:40] jonathan-dejong commented on #27
Now I feel bad for not carving out time to do this yet .. :/
I really want to, it's just that I have so little free time right now.

I'm gonna put this in my calendar :)

Would it be an acceptable temporary solution to add a composer.json file to this repo so it can be pulled in to composer as a git repo?

[2020-01-16 14:35] alexbonhomme opened #58 "Documentation / refresh token"
Hey!

First, thanks for you work :-)

I was looking for days, for a free and light solution to consume WP REST API with JWT (+ refresh) and I finally discovered this repo 🙏Unfortunately, the refresh endpoint isn't documented (because we can't PR the wiki pages). It's a shame because this is the killing feature I was looking for and I finally discovered it through PR history 😀

Related PR : https:/

[2020-01-17 07:33] jonathan-dejong commented on #58
HI @alexbonhomme
Thank you for the feedback and kind words!

I've updated the documentation now, you made it very easy for me by linking the PR and Docs from @qazsero :)

[2020-01-17 07:33] #58 closed

[2020-01-17 14:40] qazsero commented on #58
I'm glad the PR was useful to you @alexbonhomme and thanks for pushing the request to add the docu to @jonathan-dejong, now I can finally close my fork

[2020-03-11 08:40] tom-cichy-cityos opened #59 "Use revoke as logout"
Can we please add filter support for the revoke function, ie:

`		if ( $tokens ) {
			foreach ( $tokens as $key => $token_data ) {
				if ( $token_data['uuid'] === $token_uuid ) {
					unset( $tokens[ $key ] );
					update_user_meta( $token->data->user->id, 'jwt_data', $tokens );
					apply_filters( 'jwt_auth_token_revoke', $token );
					return array(
						'code' => 'jwt_auth_revoked_token',

[2020-03-30 09:21] autotel opened #60 "jwt_auth_no_auth_header for valid tokens can happen"
I ran into this issue and found someone who solved it by changing the library code. I came here to check whether he had added an issue, and it seems not.
The problem in question and the solution is detailed by that author:
https://stackoverflow.com/questions/44322866/jwt-auth-no-auth-header-error-on-validating-wordpress-rest-api-jwt-token

[2020-04-22 21:39] berlogi opened #62 "Token never expires"
Hello,

I've tried to simulate token expiration in my DB by changing issue, expire and last used times.
Even if I put the date 2 years ago, on token/validate request I'm getting 200 valide token.
After doing searches in the code, I've not found any line about expiration date check, so why you're talking about expiration error here?

**Expired Token**
`[
  {
    "code": "jwt_auth_invalid_token",

[2020-05-04 08:35] megphillips91 opened #63 "Securing Custom Routes"
I have a new custom route which I created via register custom route which I need to secure. If I provide a validate callback which returns true always and forever, the call will succeed without a header sent. If I send an Authorization with valid token, it always fails.

{
    "code": "jwt_auth_invalid_token",
    "message": "Signature verification failed",
    "data": {
        "status": 403

[2020-05-04 08:45] megphillips91 commented on #63
Workaround ==>
If you register your route with no validate_callback specified, then you can add a validation hook which produces the expected behavior before you "do business" on the call. I see this more as a hack than a proper way to solve the problem. It may be a hack that works, but still hackey. So if someone has managed to produce the expected behavior, please post here. I can add to the doc

[2020-05-15 14:09] Nicuz opened #64 "Refresh an expired token"
Hi, I'm developing a mobile app and I use this plugin to generate my users' token. I have this scenario and I think that could be common to many other people: I want to keep the user logged in so I save the token for future use, if the user opens the app before the expiration date I can refresh the token and extends its life otherwise I have to automatically signing in again the user and this impl

[2020-05-18 04:15] cesar-alamilla opened #65 "Incompatibility with Woocommerce"
Hi, first of all thank you for this plugin it works fine.

However I found a trouble using it along with Woocommerce plugin.

Due to the kind of host of my WP I need to edit the .htaccess file adding:
RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
and
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

In order to access the namespace /simpl

[2020-05-18 10:36] Gaffen commented on #27
@jonathan-dejong I think that's an acceptable temporary solution for the moment

[2020-05-18 13:35] jonathan-dejong commented on #65
Hi @cesar-alamilla

Thank you :)

I'll look into that temporary solution. I'm not entirely sure it's the way to go but I can see the issue. In the meantime you can add that temporary fix yourself in your own code I think :)

[2020-05-18 13:43] jonathan-dejong commented on #64
Hi @Nicuz

So what you'd want is the ability to create a new access token when it's expired. And that refresh token would ONLY be usable as an authentication to request a new access token.

Alright I can see the use for such a thing!
In terms of security tho the very best thing would be to have the user login again if their token has expired.

For users that are active you could actually just refr

[2020-05-18 14:12] jonathan-dejong commented on #63
Hmmm does it work with WPs other default endpoints?
Just to rule out an issue with the key you've set.

this error is thrown by the firebase jwt-php library the plugin uses and I think it could generally backfire due to certificate changes.

[2020-05-18 14:17] jonathan-dejong commented on #60
Hmm alright I see.. So essentially add a secondary check for the `Authorization` header key if none is found with the default `HTTP_AUTHORIZATION`..

Seems a valid approach tbh. You could actually also just set the `SIMPLE_JWT_AUTHENTICATION_HEADER_NAME` global yourself to `Authorization` and it'd work. In your wp-config.php:

`define( ' SIMPLE_JWT_AUTHENTICATION_HEADER_NAME', 'Authorization' );`

[2020-05-18 14:24] jonathan-dejong commented on #62
Hi @berlogi

Actually the expiration part is checked by the php-jwt library this plugin uses.
[code]

Found in `includes/vendor/firebase/php-jwt/src/JWT.php`.
So when creating a new access token we set the exp value (default is a week) and then the library checks against that. Relevant code in the plugin:

[code]

[2020-05-18 14:24] #62 closed

[2020-05-18 14:28] jonathan-dejong commented on #57
Hi @JanThiel

This is excellent feedback! I really hadn't thought of this properly..
I agree that there should be some automatic cleanup happening.

Do you think that, instead of having a grace period it would make more sense to have a number of "revisions" stored. So say you keep the last 5 objects and then keep deleting the older ones as new ones are entered. That way I think the risk of hitting

[2020-05-18 14:29] jonathan-dejong commented on #55
Closing this due to inactivity. Would love to hear how it went tho :)

[2020-05-18 14:29] #55 closed

[2020-05-18 14:35] jonathan-dejong commented on #27
https://github.com/jonathan-dejong/simple-jwt-authentication/blob/master/composer.json
👍

I feel like I should do some cleanup and fixes to this plugin before attempting to send it to WordPress svn repo..
I'm not even sure it'd be accepted as they officially link to Tmeisters version.

[2020-05-18 14:47] pentatonicfunk commented on #63
As far as i understand `validate_callback` is for REST arguments/params. for the endpoint it self, i think `permission_callback` is the one that supposed to do that

[2020-05-18 14:56] pentatonicfunk commented on #57
i would vote for "grace" period + expired time. Hitting expired token is minimal, but it could happen more than rarely, especially on multiple client apps setup. And give "expired" feedback could be useful for the client to decide what to do next.

[2020-05-18 15:03] berlogi commented on #62
@jonathan-dejong thank you for your answer. But why when I’m changing expiration day in MySQL, I’m never getting expired token error?

[2020-05-19 03:05] cesar-alamilla commented on #65
Yeah this is totally a temporary fix, I know that this isn't by far an optimal solution.

I'm pretty new using WP but if I had time I will try to look for a better solution.

Greetings (:

[2020-06-09 10:12] JanThiel commented on #57
@jonathan-dejong Personally and from a security perspective I would still tend to not store any old tokens. The workflow for an "invalid" token should always be the same: Get a new one.
@pentatonicfunk What would be the different workflows you would consider, when you hit an expired vs an invalid token?

And all information you pass to the outside can be used against you. The lifetime of a particu

[2020-06-09 11:35] pentatonicfunk commented on #57
yes, i stand corrected. i dont think we need "expired" tokens at all to be stored. These are thrown by `JWT::decode` anyway.
So i think we can safe-ly process remove expired tokens while validate_token being called, since this method is the one that called frequently ?

[2020-06-10 10:14] pentatonicfunk commented on #57
although if main concern is "size" of user meta, generate_token might be the place, since its the method that technically "add" size to that user meta.

[2020-06-18 18:22] megphillips91 commented on #63
Honestly, I never got back around to this the proper way and wrote a "workaround" custom authentication method which essentially just ensures the calls are coming from my app to the WP installation. I need a better solution and will get back around to it when reasonable for business.

thanks,

[2020-06-30 08:56] crapthings opened #66 "work with multisite"
after active this plugin on network, can i have same plugin settings on all sites rather then reconfigure on each site

[2020-07-12 17:17] nilsnolde opened #67 "JWT authorization doesn't log in user"
Hi,

I'm coming from the original plugin `wp-api-jwt-auth` and used it to authenticate to WooCommerce REST routes. However, I needed a way to **also authenticate to normal routes (i.e. not part of REST) via JWT**, so I thought this plugin might help. I run WordPress v5.3.2.

Somehow I can't get it to even successfully authenticate to ANY WooCommerce REST route.. It's all installed (and old plugin

[2020-07-12 17:24] nilsnolde commented on #67
Things I can confirm:
- it's not caused by a faulty `.htaccess`: the `/autologin` route works with a Bearer token
- it's not related to #65, as I want JWT to do the auth, not the default WooCommerce ways (Basic or oAuth 1.0)
- it's also not related to any WooCommerce permissions (which are pretty weird, basically only admins can query the WC endpoints by default)

[2020-07-12 17:34] nilsnolde commented on #65
Since I'm having a similar setup and use case for JWT, thought I'd chime in here:

@cesar-alamilla

I thought the Simple JWT plugin should do exactly this, so we don't have to care about the WooCommerce auth methods anymore.. I came here for that reason, I use WC/WP headless from a React app and don't want to store user/pass locally in the browser but rather an expiring JWT after the user logged i

[2020-07-12 17:50] nilsnolde commented on #67
What I forgot to add: this plugin is amazingly more powerful than the old one. I was very excited when I saw what's possible with it and I'd be super happy to make it work. And nice code, learned a few things glancing over it!

[2020-07-13 04:18] nilsnolde commented on #67
Oops, wrong plugin.. I installed this one: https://wordpress.org/plugins/simple-jwt-login/..

[2020-07-13 04:18] #67 closed

[2020-07-14 14:52] tapiopal opened #68 "Authorization header rewrite causes 'jwt_auth_bad_config' on refresh and revoke"
Hi!

We were having problems with the authorization headers not being available in php, causing errors when using any of the endpoints that require the token in the header. So, in .htaccess we added:
[code]

This makes the headers visible for the plugin and the _/token/validate_ endpoint seems to work properly, but there's something wrong with both _/token/refresh_ and _/token/revoke_. The authori

[2020-07-15 05:38] cesar-alamilla commented on #65
Well that's an interesting approach.

In the next days I will try your suggestion, it sounds more it sounds more reliable than just skip a validation.

thanks @nilsnolde !

[2020-07-15 07:04] #68 closed

[2020-07-15 07:06] tapiopal commented on #68
Ok. This was our mistake. We had misplaced the secret key in the wp-config.php file. What led us astray was that the token generation and validation still seemed to work perfectly.

But in the process, we did find a way to get the authorization headers without adding a RewriteRule to .htaccess. We updated the plugin code to use apache_request_headers() to get the headers, which made 'Authorization

[2020-07-18 14:06] jonathan-dejong commented on #68
Nice!
Glad it worked out for you!

If you think your fix is useful to others and would like to share the code I'm happy to accept a PR :)

[2020-10-24 00:52] axlright opened #69 "Required to check for issuing domain?"
Looking for a JWT solution that can generate and use a consistent token across multiple domains including production, staging and local. One of the benefits of JSON Web Tokens is their ability to work across different server domains.

The original JWT Authentication for WP REST API plugin by Enrique Chavez requires that the `iss` domain match the sending domain of the `POST` request, or else an er

[2022-08-24 13:11] gtu-myowin opened #70 "Login only with email? (required this to implement social login on mobile apps)"
Hi, I came here from https://github.com/Tmeister/wp-api-jwt-auth and I have installed your plugin https://wordpress.org/plugins/simple-jwt-login/

I am trying to implement social logins (Facebook, Google, Twitter, LinkedIn & Apple) for my Flutter mobile apps backed by WordPress. I wonder

1. if it is possible to login with email only and get JWT token with this plugin because I will get only `name